@{
	ViewData["Title"] = "Create Request";
}

@model CreateRequestVM

<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900" />
<!-- Nucleo Icons -->
<link href="~/TemplateResources/css/nucleo-icons.css" rel="stylesheet" />
<link href="~/TemplateResources/css/nucleo-svg.css" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<!-- Material Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
<!-- CSS Files -->
<link id="pagestyle" href="~/TemplateResources/css/material-dashboard.css?v=3.2.0" rel="stylesheet" />

<div class="container mt-5">
	<div class="card shadow-lg">
		<div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
			<h6 class="text-white text-capitalize ps-3">Satın Alma Talebi Oluştur</h6>
		</div>
		<div class="card-body">
			<form asp-action="CreateRequest" method="post">
				
				<div class="row g-4">

					<!-- Talep Bilgileri -->
					<div class="col-md-6">
						<label asp-for="RequestDate" class="form-label fw-bold">Talep Tarihi</label>
						<input asp-for="RequestDate" class="form-control border border-dark shadow-sm">
					</div>
					<div class="col-md-6">
						<label asp-for="FullName" class="form-label fw-bold">Talep Eden Personel</label>
						<input asp-for="FullName" class="form-control border border-dark shadow-sm" id="requestPerson" required>
					</div>

					<div class="cold-md-6">
						<label asp-for="DepartmentName" class="form-label"></label>
						<select asp-for="DepartmentName" asp-items="ViewBag.Requests" class="form-control">
							<option selected disabled value="0">Bir departman seçiniz!</option>
						</select>
						<span asp-validation-for="DepartmentName" class="text-danger"></span>
					</div>

					<div class="col-md-6">
						<label asp-for="CategoryId" class="form-label">Kategori</label>
						<select onchange="loadSubCategoriesByCategoryId(this.value)" asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control">
							<option selected disabled value="0">Bir kategori seçiniz!</option>
						</select>
						<span asp-validation-for="CategoryId" class="text-danger"></span>
					</div>

					<div class="col-md-6">
						<label asp-for="SubCategoryId" class="form-label"></label>
						<select disabled id="subCategories" onchange="loadProductsBySubCategoryId(this.value)" asp-for="SubCategoryId" class="form-control">
						</select>
						<span asp-validation-for="SubCategoryId" class="text-danger"></span>
					</div>

					<div class="col-md-6">
						<label asp-for="ProductId" class="form-label fw-bold">Ürün Detay</label>
						<select class="form-select border border-dark shadow-sm" id="productDetail" required disabled>
						</select>
					</div>

					<div class="col-md-12">
						<label asp-for="SpecialProductName" class="form-label fw-bold">Özel Ürün Adı</label>
						<input type="text" class="form-control border border-dark shadow-sm" id="specialProductName" placeholder="Listede yoksa buraya yazın">
					</div>

					<div class="col-md-12">
						<label asp-for="Amount" class="form-label fw-bold">Miktar</label>
						<input type="number" class="form-control border border-dark shadow-sm" id="quantity" min="1" required>
					</div>

					<div class="col-12">
						<label asp-for="Description" class="form-label fw-bold">Açıklama / Ürün Gereksinimleri</label>
						<textarea class="form-control border border-dark shadow-sm" id="description" rows="4" required></textarea>
					</div>

					<div class="col-12">
						<label asp-for="ProductFeaturesFilePath" class="form-label fw-bold">Şartname Yükle (PDF)</label>
						<div class="input-group">
							<input type="file" class="form-control border border-dark shadow-sm" id="uploadFile" accept="application/pdf">
						</div>
					</div>
					<div class="col-12 text-end">
						<button type="submit" class="btn btn-dark px-4">Talebi Gönder</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="~/TemplateResources/js/core/popper.min.js"></script>
<script src="~/TemplateResources/js/core/bootstrap.min.js"></script>
<script src="~/TemplateResources/js/plugins/perfect-scrollbar.min.js"></script>
<script src="~/TemplateResources/js/plugins/smooth-scrollbar.min.js"></script>


<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="~/TemplateResources/js/material-dashboard.min.js?v=3.2.0"></script>
